<!-- app/views/admin/restaurants/index.html.erb -->
<h1>My list of restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h2>
  <p><%= restaurant.address %></p>
<% end %>
